{% extends 'base.html.twig' %}
{% block title %} Accueil
{% endblock %}

{% block body %}
    <div id="list_crypto">
        <div class="container">
            <h1 class="mb-5"><a href="/MesGains">
                    {% if montant_investissement  %}
                        {% if montant_investissement > 0 %}
                            +{{ montant_investissement }}
                        {% endif%}
                    {% else %}
                    0000
                    {% endif %}
                </a></h1>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">logo</th>
                    <th scope="col">Symbole(Nom)</th>
                    <th scope="col">Fluctuation</th>
                </tr>
                </thead>
                <tbody>
                {% for data_crypto in data_crypto.data %}
                <tr>
                    <td>{{ data_crypto.symbol }}</td>
                    <td>{{ data_crypto.name }}</td>
                    {% if data_crypto.quote.USD.percent_change_24h > 0 %}
                    <td><i class="fas fa-arrow-up"></i></td>
                    {% endif %}
                    {% if data_crypto.quote.USD.percent_change_24h < 0 %}
                        <td><i class="fas fa-arrow-down"></i></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>


            </table>
        </div>
    </div>
{% endblock %}