{% extends 'mesgains.html.twig' %}
{% block title %}
{% endblock %}

{% block body %}
    <div id="Graph_invest">
        <div class="container">
        {{ render_chart(chart) }}
        </div>
    </div>
{% endblock %}